// Outline Card
.v-card--variant-outlined {
  // border-color: rgba(var(--v-theme-borderLight));
  .v-divider {
    border-color: rgba(var(--v-theme-borderLight));
  }
}

.v-card-actions {
  padding: 0.625rem $card-text-spacer $card-text-spacer;
}

.v-card {
  border-radius: 7px !important;
  box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px !important;
  width: 100%;
  overflow: visible;
  // &.withbg {
  //     background-color: rgb(var(--v-theme-background));
  // }
  &.w-auto {
    width: auto !important;
  }
  &.overflow-hidden {
    overflow: hidden;
  }
}

.v-card-item {
  padding: $card-item-spacer-xy;
}

.card-hover-border {
  &:hover {
    border: 1px solid rgb(var(--v-theme-primary));
  }
}
.v-card-actions {
  padding-bottom: 16px !important;
}
.v-card-text {
  margin-top: -20px !important;
  padding: 20px !important;
}
