.v-table__wrapper {
  &::-webkit-scrollbar-track-piece {
    background: #ffffff;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(var(--v-theme-secondary));
    border-radius: 20px;
  }
}
.v-table > .v-table__wrapper > table > tbody > tr > td {
  padding: 0 4px !important;
}
.v-table {
  padding: 0 8px;
}
