.verticalLayout {
  .v-app-bar.v-toolbar.v-topbar {
    margin-left: 265px;
    width: calc(100% - 265px);
  }
}
.v-topbar {
  background-color: #f6f6f6 !important;
  height: 44px !important;
}
.profileBtn {
  margin: 0 35px 0 10px !important;
  @media screen and (max-width:1024px){
      margin: 0 25px 0 10px !important;
  }
  @media screen and (max-width:600px){
      margin: 0 15px 0 10px !important;
  }
}
.v-toolbar__content{
  height: 44px !important;
}