@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

html {
  font-family: $font-family;
  font-size: 14px !important;
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(var(--v-theme-primary));
    border-radius: 20px;
  }
  .v-application {
    [class*="text-"] {
      font-family: $font-family, sans-serif !important;
    }
    font-family: $font-family, sans-serif !important;
  }
  .bg-light-primary {
    background-color: #fcf1ed !important;
  }
  .elevation-10 {
    box-shadow: $box-shadow !important;
  }
  .v-card-text {
    padding: 30px;
  }
  .v-card-header {
    padding: 30px 30px 0.625rem;
  }
  .v-card-actions {
    padding: 0.625rem 30px 30px;
  }
  .v-card {
    border-radius: $border-radius;
    width: 100%;
    box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px !important;
  }
  .v-btn {
    text-transform: capitalize;
    letter-spacing: $btn-letter-spacing;
  }
  .v-btn-group .v-btn {
    height: inherit !important;
  }

  .v-navigation-drawer__scrim.fade-transition-leave-to {
    display: none;
  }
  .v-navigation-drawer--left {
    border-right-width: 0;
  }
  .theme-carousel .v-carousel__progress {
    position: absolute;
  }
  .v-theme--light,
  .v-theme--dark {
    --v-theme-on-warning: 255, 255, 255;
  }
  .v-card.w-auto {
    width: auto !important;
  }
  .v-alert {
    position: fixed;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    margin: 0 auto; // Without this the box extends the width of the page
  }
  .vue-notification {
    // styling
    margin: 5px;
    padding: 10px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 8px;
    // default (blue)
    background: #44a4fc;
    border-left: 5px solid #187fe7;

    // types (green, amber, red)
    &.success {
      background: rgb(var(--v-theme-success));
      border-left-color: rgb(var(--v-theme-success));
    }

    &.warn {
      background: rgb(var(--v-theme-warning));
      border-left-color: rgb(var(--v-theme-warning));
    }

    &.error {
      background: rgb(var(--v-theme-error));
      border-left-color: rgb(var(--v-theme-error));
    }
  }
  .text-h6 {
    font-size: 16px !important;
    font-weight: 600 !important;
  }

  .text-left {
    font-size: 14px !important;
  }
  .text-right {
    font-size: 14px !important;
  }
}
strong {
  font-size: 14px;
}
